<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <!-- Barra de Navegacion -->
        <%- include('../partials/navigation'); %>
    </header>

    <div>
        <img src="/img/about.jpg" class="d-block w-100" alt="Tragos" />
    </div>
    
    <h1 class="text-center display-1">Sobre Nosotros</h1>

    <div class="container-fluid">
        <div class="row">
            <!-- <img width="1500" height="650" alt="banner" src="/img/logo.jpg" complete="complete"> -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quas, sequi nobis, nam quo odit
                temporibus est excepturi incidunt pariatur veniam eius facere libero laudantium commodi nemo dolores
                iure dolor!Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quas, sequi nobis, nam
                quo odit temporibus est excepturi incidunt pariatur veniam eius facere libero laudantium commodi nemo
                dolores iure dolor!Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quas, sequi
                nobis, nam quo odit temporibus est excepturi incidunt pariatur veniam eius facere libero laudantium
                commodi nemo dolores iure dolor!Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
                quas, sequi nobis, nam quo odit temporibus est excepturi incidunt pariatur veniam eius facere libero
                laudantium commodi nemo dolores iure dolor!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quas, sequi nobis, nam quo odit
                temporibus est excepturi incidunt pariatur veniam eius facere libero laudantium commodi nemo dolores
                iure dolor!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quas, sequi nobis, nam quo odit
                temporibus est excepturi incidunt pariatur veniam eius facere libero laudantium commodi nemo dolores
                iure dolor!</p>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer'); %>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</body>

</html>