<title>GoMarket::Sobre Nosotros</title>

<div>
    <img src="/img/about.jpg" class="d-block w-100" alt="Tragos" />
</div>

<h1 class="text-center display-1">Sobre Nosotros</h1>

<div class="container-fluid">
    <div class="row">
        <!-- <img width="1500" height="650" alt="banner" src="/img/logo.jpg" complete="complete"> -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quas, sequi nobis, nam quo odit
            temporibus est excepturi incidunt pariatur veniam eius facere libero laudantium commodi nemo dolores
            iure dolor!Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quas, sequi nobis, nam
            quo odit temporibus est excepturi incidunt pariatur veniam eius facere libero laudantium commodi nemo
            dolores iure dolor!Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quas, sequi
            nobis, nam quo odit temporibus est excepturi incidunt pariatur veniam eius facere libero laudantium
            commodi nemo dolores iure dolor!Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
            quas, sequi nobis, nam quo odit temporibus est excepturi incidunt pariatur veniam eius facere libero
            laudantium commodi nemo dolores iure dolor!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quas, sequi nobis, nam quo odit
            temporibus est excepturi incidunt pariatur veniam eius facere libero laudantium commodi nemo dolores
            iure dolor!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quas, sequi nobis, nam quo odit
            temporibus est excepturi incidunt pariatur veniam eius facere libero laudantium commodi nemo dolores
            iure dolor!</p>
    </div>
</div>