
<div class="conteiner text-center">
    <hr>
    <h3>Carrito de Compras</h3>
    <hr>
</div>

    <table class="table table-hover">
        <thead>
            {{!-- <th>ID Producto</th> --}}
            <th class="text-center">Nombre de Producto</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Cantidad</th>
        </thead>
        <tbody>
            {{#each results}}
            <tr>
                {{!-- <td>{{ productoId }}</td> --}}
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"><input type="number" min="1" name="cantidadVinos"></td>
                <td><button type="button" class="btn btn-success" id="comprarVinos" onclick="comprarProducto()">Comprar</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>