<title>GoMarket::Vinos</title>

<div>
    <img src="/img/vino.jpg" class="d-block w-100" alt="Tragos" />
</div>

<div class="container-fluid">
    <div class="text-center m-5">
        <h3>Listado de Vinos</h3>
    </div>

    <table class="table table-hover">
        <thead>
            {{!-- <th>ID Producto</th> --}}
            <th class="text-center">Nombre de Producto</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Cantidad</th>
        </thead>
        <tbody>
            {{#each results}}
            <tr>
                {{!-- <td>{{ productoId }}</td> --}}
                <td class="text-center">{{ nombre }}</td>
                <td class="text-center">$ {{ precio }}</td>
                <td class="text-center"><input type="text" id="cantidadVinos"></td>
                <td><button type="button" class="btn btn-success" onclick="comprarProducto()">Comprar</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script src="/js/vinos.js"></script>